*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Nunito",sans-serif;
}

a{
  text-decoration:none;
}

li{
  list-style: none;
}

/* Nav */
.navbar{
  width:95%;
  margin: auto;
}

.nav-container{
  padding: 20px;
}

.nav-container h2{
  color:rgb(29, 29, 29);
}

.nav-container .nav{
  justify-self: flex-end;
}

.nav-container .nav {
  display: flex;
}

.nav-container .nav a{
  margin: 0 20px;
  color: rgb(76, 9, 9);
}

.nav-container .nav .active{
  background: rgb(8, 3, 3);
  color: rgb(218, 206, 206);
  padding: 10px 20px;
  border-radius: 30px;
}

.header{
  width: 80%;
  margin: 70px auto;
}

.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.container img{
  width: 120%;
}

.container div h3{
  color: red;
  font-size: 70px;
}


.container div p{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(12, 10, 10);
  margin: 20px 0;
}


.container div a{
  padding: 15px;
  background: #333;
  margin: 20px 0;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: centre;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  align-items: center;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  align-items: center;
  margin-left: 10px;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center !important;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
  
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}

.wrapper .button:nth-child(4) span{
  color: #ff0000;
}

.button{
  align-content: center !important;
}
.foot{
  margin-left: 20px;
  padding: 5px;
}